

/* CSS pour le composant de connexion */
.login-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 5px;
}

.login-container form {
  display: flex;
  flex-direction: column;
}

.login-container input[type="email"],
.login-container input[type="password"] {
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

.login-container input[type="submit"] {
  background-color: #333;
  color: #fff;
  padding: 8px 12px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.login-container input[type="submit"]:hover {
  background-color: #555;
}

.login-container a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.login-container a:hover {
  color: #555;
}

/* CSS pour le composant de connexion */

h1{
  text-align: center;
}